.btn {

    &.btn-primary {
        background: $brand-primary;
        i {
            position: relative;
            top: 2px;
        }
    }

    &.btn-default {
        background-color: $btn-default-bg !important;
        color: $brand-primary;
        border-color: $brand-primary !important;
        border: 2px solid $brand-primary;
        background-color: $color-light;
    }

    &.btn-danger-outlined {
        background: transparent;
        color: $brand-danger;
        border-color: $brand-danger;
        border: 2px solid $brand-danger;
    }

    > span.material-icons {
        font-size: 18px;
        margin-right: 2px;
        vertical-align: text-top;
    }

    &.with-min-width {
        width: 106px;
    }
}

.btn-plus {
    padding: 10px;
}

// KeenUI theming

.ui-alert {
    font-size: 15px;
}

.ui-button--type-primary.ui-button--color-primary {
    background-color: $brand-primary;
    min-width: 115px;
}

.ui-button--type-primary.ui-button--color-default,
.ui-fileupload.ui-fileupload--color-default {
    background-color: #FFF;
    color: $brand-primary;
    border: 2px solid $brand-primary;

    .ui-icon {
        color: $brand-primary;
    }
}

.ui-textbox__input,
.ui-select:not(.is-multiple) .ui-select__display{
    height: 2.5rem;
}

.ui-textbox__input, 
.ui-textbox__textarea {
    display: block;
    resize: vertical;
}

.ui-textbox__input, 
.ui-textbox__textarea,
.ui-select__display {
    padding: 5px 15px;
    line-height: 1.5;
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    color: #606266;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #DCDFE6;
    border-radius: 4px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}

.ui-tab-header-item {
    display: flex;
    flex-direction: row;

    &.is-active {
        color: $text-color-active !important;
        background-color: #fff;

        .ui-tab-header-item__icon {
            border-color: $text-color-active !important;
        }
    }

    .ui-tab-header-item__text {
        text-transform: none;
    }
}

.ui-tab-header-item--type-icon-and-text {
    height: 3.5rem;
}

.ui-tabs--indicator-color-white > div > ul > li.ui-tab-header-item:after {
    box-shadow: none;
}

.ui-tabs--indicator-color-primary > div > ul > li.ui-tab-header-item:after {
    background-color: $text-color-active;
    box-shadow: 0 1px 1px rgba(0,0,0,.16);
}

.ui-tabs.not-fullwidth  > div > ul > li.ui-tab-header-item {
    flex-grow: 0;
    min-width: 184px;
}

.ui-tabs.background-white {
    > .ui-tabs__header {
        background-color: #fff;
        box-shadow: inset 0px -2px 1px -1px rgba(0, 0, 0, 0.16);
    }
}

.ui-tabs .ui-tab-header-item__icon {
    border-width: 1px;
    border-style: solid;
    border-color: $text-color;
    border-radius: 30px;
    margin: 0;
    margin-right: 10px;
    height: 2rem;
    width: 2rem;

    .ui-icon {
        margin: 3px;
    }
}

.ui-tabs .ui-tab-header-item__text {
    font-size: 16px;
}

.ui-tabs__body .tab {
   
}

.list-group {

    > li.list-group-item {
        border: 0;
        display: flex;
        padding: 6px 15px;
        border-bottom: 1px solid #fff;

        span.handle {
            cursor: move;
            margin-right: 6px;
        }

        &.active {
            background-color: #FFF !important;
            color: #222 !important;
            border-color: rgb(239 239 239 / 1) !important;
            border-top: 1px solid;
            border-bottom: 1px solid;
            border-right: 0px !important;
            font-weight: 500;
        }

        &:hover:not(.list-header),
        &.active:not(.list-header) {
            color: #222 !important;
            box-shadow: inset 4px 0 0px 0 $brand-primary;
            border-color: rgb(239 239 239 / 1) !important;
            border-top: 1px solid;
            border-bottom: 2px solid;
            border-right: 0px !important;
        }

        span.text-label {
            padding: 0px 4px;
        }

        span.item-title {
            flex: 1 1 0px;
            min-width: initial;
            cursor: default;
        }

        &:first-child {
            border-top-right-radius: 0px;
        }

        &:last-child {
            border-bottom-right-radius: 0px;
        }

        &.not-flex {
            display: block !important;
        }

        .inline-input-editor {
            display: flex;
            flex-grow: 1;
            border: 0;
            background-color: #fff;
        }
        
        .icon-more-vertical {
            font-size: 18px;
            margin-right: 2px;
        }
    }

    @media screen and (min-width: 992px) {
        > li.list-group-item {
            border-right: 1px solid #ddd;
        }
    }

}

.nested-draggable {

    .list-group {

        margin-bottom: 0;

        > li.list-group-item {
            border: 1px solid $list-group-border;
            border-radius: 0 !important;
            cursor: default;

            > div.flex {
                min-height: 30px;
                align-items: center;
            }

            span.handle {
                margin-left: 6px;
            }
        
            .icon-more-vertical {
                font-size: 18px;
                margin-right: 2px;
            }

            &:hover:not(.list-header) {
                border-right: 1px solid #ddd !important;
            }
        }
    }

    &.sublevel {
        margin-left: 20px;
        li {
            border-left: 0 !important;
            border-right: 0 !important; 
        }
    }
}

.ui-collapsible {
    .ui-collapsible__header {
        background-color: transparent;
        font-weight: 500;
    }
}

.ui-radio__label-text,
.ui-checkbox__label-text {
    font-size: $font-size-base;
}

.is-checked {
    .ui-radio__label-text,
    .ui-checkbox__label-text {
        color: #222 !important;
    }
}

.toggle-radio-group {

    label.ui-radio {
        padding: 18px 12px;
        position: relative;
        margin: 0;
        background-color: #F5F5F5 !important;

        &.is-checked {
            background-color: #29B6F6 !important;
            border-color: #29B6F6;

            .ui-radio__label-text {
                color: #FFF !important;
                font-weight: 500;
            }
        }

        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }

    div.ui-radio__label-text {
        margin-left: 0;
    }

    .ui-radio__input-wrapper {
        display: none !important;
    }
}

.button-to-input {
    padding: 0 10px;
}

.dynamic_form {
    .form-group {
        &.indent {
            > div {
                margin-left: 10px;
            }
        }
    }
}

.context-menu-wrapper {
    position: relative;

    .context-menu {
        position: absolute;
        left: 0;
        z-index: 99;
        box-shadow: 1px 1px 3px 0px #9e9e9e;
        background-color: #fff;
        padding: 6px 10px;
        min-width: 180px;

        ul {
            list-style: none;
            padding-left: 0;

            > li {
                padding: 6px 10px;
                cursor: pointer;

                &:hover {
                    color: #222;
                    font-weight: 500;
                }
            }
        }
    }

    .ck-editor {
        margin-bottom: 20px;
    }
}