
.app-container {

    nav.navbar {
        padding-left: 0;

        &.navbar-top {
            border-bottom: 1px solid #eee;
            box-shadow: 0 0 1px 0px;
            background: #fff;
        }

        .navbar-header {
            width: 100%;
            .logo-icon-container img {
                max-height: 40px;
            }
        }

        .navbar-nav.navbar-right li.dropdown.open .dropdown-menu {
            position: absolute !important;
        }

        &.navbar-default .navbar-nav > li {

            border-left: 0;

            a {

                display: flex;
                padding: 0 15px 0 15px;
                align-items: center;    
                line-height: 20px;

                i[class*=" voyager-"]:before, 
                i[class^=voyager-]:before {
                    font-size: 18px;
                    padding: 6px;
                    border: 1px solid #9E9E9E;
                    border-radius: 50%;
                    color: #9E9E9E;
                }

                span:not(.caret) {
                    font-weight: 400;
                    align-items: center;
                    display: flex;
                    padding-left: 10px;
                    margin-top: -6px;
                }
            }

            &.profile .dropdown-toggle img {
                width: 48px;
                height: 48px;
            }
        }

        &.navbar-default .navbar-nav>.active>a, 
        &.navbar-default .navbar-nav>.active>a:focus, 
        &.navbar-default .navbar-nav>.active>a:hover {
            color: $navbar-active-color;
            background-color: $navbar-active-bg;

            i[class*=" voyager-"]:before, 
            i[class^=voyager-]:before {
                border: 1px solid #FFF;
                color: #FFF;
            }
        }
    }

    ul.dropdown-menu>li>a {
        padding: 10px 5px !important;
    }

    .content-container,
    .navbar.navbar-default>.container-fluid:after, 
    .navbar>.container-fluid {
        max-width: 1200px;
        margin: 0 auto;
        border-bottom: 0;
    }

    .page-title {
        padding-left: 20px;

        > i {
            left: 0;
        }
    }

    .page-header {
        margin: 15px 0;
    }

    .side-body {
        margin-left: 10px;
        margin-right: 10px;
    }

    .panel {
        &.theme-panel {
            background-color: transparent;
            border: 0;
            box-shadow: unset;

            .panel-body {
                padding-top: 0;
            }
        }
    }

    .table {
        &.theme-table {
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 4px;
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);

            thead>tr>th {
                background: $table-thead-bg;
                color: $table-thead-color;
                border: 1px solid #75757512;
                padding: 15px 10px;
                a {
                    color: $table-thead-color;
                }
            }
        }

        &#dataTable {
            td > img {
                width: 35px !important;
            }
        }   
    }

    ul.filter-pills {

        li {

            a {
                text-decoration: none;
                color: $text-color-dark;
                font-weight: 500;
            }

            &.active {
                a {
                    border: 1px solid $nav-pill-active-color;
                    color: $nav-pill-active-color;
                    background-color: $nav-pill-active-bg;
                    text-decoration: none;
                }
            }
        }
    }
}

.navbar {
    z-index: 40;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    
    .pace-progress {
        background: $brand-primary;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
    }
}

.pace-inactive {
    display: none;
}

/* Utils */
.p-0 { padding: 0; }
.mt-2 { margin-top: 2rem; }
.mb-2 { margin-bottom: 2rem; }
.text-dark { color: $color-dark !important; }
.text-danger { color: $brand-danger !important; }


.material-icons.icon-expanded,
.material-icons.icon-collapsed {
    font-size: 16px;
    color: #b7b7b7;
    border: 1px solid #b7b7b7;
    vertical-align: text-top;
    cursor: pointer;
}