
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: rgb(63,163,219);
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #d62828;

$color-light: #fff;
$color-dark: #222;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
$text-color-dark: darken($text-color, 20%);
$text-color-active: #29B6F6;


// Navbar
$navbar-default-bg: #fff;
$navbar-active-bg: #FFC107;
$navbar-active-color: #FFF;

// Buttons
$btn-default-color: $text-color;
$btn-default-bg: #FFFFFF;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

$table-thead-bg: #E0E0E0;
$table-thead-color: #757575;

$nav-pill-active-color: $brand-primary; 
$nav-pill-active-bg: #FFF; 
